#暂时期望git不予管理生成的过程文件 包括日志、存储的模型、采集的数据集等
#相关文件如有需要利用网盘传输也许比较合理
#忽略ppo产生的logs文件
/logs/
#忽略筛选后的模型们
/models/
#忽略采集的数据集
/data/
#忽略EAT采集的数据集
/EAT_runs/
/Tert_runs/
#一些过程文件
*.pyc

*.DS_Store

/EAT_runs/
/Models